<table width="780" cellspacing="0" cellpadding="0">
<tbody>
 <tr>
  <td height="25" align="center" class="headertable">
   <div id="navcontainer">
    <ul>
    ###NAV###
    </ul>
   </div>
  </td>
 </tr>
 <tr>
  <td align="center" valign="top" height="450" class="maintable">
   <center>
   <table width="700" cellspacing="0" cellpadding="0" border="0">
    <tr>
     <td valign="top">###CONTENT###</td>
    </tr>
   </table>
   </center>
   <br><br>
  </td>
 </tr>
 <tr>
  <td>
   <div id="fusszeile">
    <ul>
     <li>###FUSS###</li>
    </ul>
   </div>
  </td>
 </tr>
</tbody>
</table>
<br>
###STD_FUSS###
<br><br>