<br>
<table width="800" cellspacing="0" cellpadding="0" border="0">
 <tr>
   <td class="verlauf">
     <table width="800" cellspacing="0" cellpadding="0" border="0">
      <tr>
       <td height="80">
        <table width="800" cellspacing="0" cellpadding="0" border="0">
        <tr>
          <td height="10" align="center">
          <img src="###LOGO_PFAD###/###LOGO_NAME###" border="0" alt="">
          </td>
        </tr>
         <tr>
          <td class="navi" height="10">&nbsp;&nbsp;&nbsp;###NAV###</td>
         </tr>
        </table>
       </td>
      </tr>
      <tr>
       <td align="center">
        <img src="###IMG_PFAD###/balken.gif" width="760" height="20" border="0" alt="">
       </td>
      </tr>
     </table>
     <center>
     <table width="730" cellspacing="0" cellpadding="0" border="0">
      <tr>
       <td height="350" class="text_normal" valign="top" valign="top"><br><br>###CONTENT###<br></td>
      </tr>
     </table>
     </center>
     <table width="800" cellspacing="0" cellpadding="0" border="0">
      <tr>
       <td height="60">
        <table width="800" cellspacing="0" cellpadding="0" border="0">
         <tr>
          <td align="center">
           <img src="###IMG_PFAD###/balken.gif" width="760" height="20" border="0" alt="">
          </td>
         </tr>
         <tr>
          <td class="fusszeile" height="40" width="650" valign="top">
            ###FUSS###<br><br>
            ###STD_FUSS###<br><br>
          </td>
         </tr>
        </table>
       </td>
      </tr>
     </table>
   </td>
   <td class="re_schatt" valign="top" width="6"><img src="###IMG_PFAD###/oben_rechts.gif" width="6" height="6"></td>
 </tr>
 <tr>
   <td class="un_schatt" align="left"><img src="###IMG_PFAD###/unten_links.gif" width="6" height="6"></td>
   <td width="6"><img src="###IMG_PFAD###/unten_rechts.gif" width="6" height="6"></td>
 </tr>
</table>