<table border="0" width="90%" cellpadding="0" cellspacing="0" bgcolor="black">
  <tbody>
  <tr>
    <td align="center">
      <table border="0" width="100%" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
          <td height="80" align="center" class="head"><img src="###LOGO_PFAD###/###LOGO_NAME###" border="0" /></td>
        </tr>
        <tr>
          <td align="left" class="menu">
            <table cellspacing="0" cellpadding="0" border="0" width="100%">
              <tbody>
              <tr>
                <td class="tinybottomleft">&nbsp;</td>
                <td>
                  <table cellspacing="0" cellpadding="0" border="0" width="100%">
                    <tr>
                      ###NAV###
                    </tr>
                  </table>
                </td>
                <td class="tinybottomright" width="30">&nbsp;</td>
              </tr>
              <tr>
                <td class="tiny" width="30">&nbsp;</td>
                <td class="tiny">&nbsp;</td>
                <td class="tiny">&nbsp;</td>
              </tr>
              <tr>
                <td class="tinytopleft" width="30">&nbsp;</td>
                <td class="tinytop">&nbsp;</td>
                <td class="tinytopright">&nbsp;</td>
              </tr>
              </tbody>
           </table>
          </td>
        </tr>
        <tr>
          <td class="content" height="400" bgcolor="#ffffcc" valign="top">
            <center>
            <table width="730" cellspacing="0" cellpadding="0" border="0">
             <tr>
              <td height="370" class="text_normal" valign="top"><br><br>###CONTENT###</td>
             </tr>
            </table>
            </center>
            <br><br>
          </td>
        </tr>
       <tr>
         <td align="center" class="fusszeile">###FUSS###</td>
       </tr>
       </tbody>
       </table>
    </td>
  </tr>
  </tbody>
</table>
<br>
<table border="0" width="90%" cellpadding="0" cellspacing="0">
 <tr>
  <td class="text_klein" align="center">
   ###STD_FUSS###
  </td>
 </tr>
</table>