<table border="0" width="800" cellspacing="0" cellpadding="0">
 <tr>
  <td>
   <table border="0" width="800" height="80">
    <tr>
     <td align="center"><img src="###LOGO_PFAD###/###LOGO_NAME###" alt="" border="0"></td>
    </tr>
   </table>
  </td>
 </tr>
 <tr>
  <td>
   <table border="0" width="800">
    <tr>
    ###NAV###
    </tr>
   </table>
  </td>
 </tr>
</table>

<center>
<table border="0" width="600" cellspacing="0" cellpadding="0">
 <tr>
  <td width="600" height="370" class="text_normal" valign="top"><br><br>###CONTENT###</td>
 </tr>
</table>
</center>
<br><br>

<table border="0" width="800" cellspacing="0" cellpadding="0">
 <tr>
  <td>
   <table border="0" width="800" height="1">
    <tr>
     <td width="800" height="1">
      <img src="###IMG_PFAD###/grey_point.gif" alt="" border="0" width="750" height="1">
     </td>
    </tr>
   </table>
  </td>
 </tr>
 <tr>
  <td class="fusszeile" align="center">
  <br>
  ###FUSS###<br><br>
  ###STD_FUSS###
  </td>
 </tr>
</table>