body
  {
    font-family: verdana, helvetica, arial, san-serif;
    font-size:13px;
    color: #000000;
    background-color: #ffffff;
  }
a:link
  { text-decoration:none;
    color:#000000;
  }
a:visited
  { text-decoration:none;
    color:#000000;
  }
a:hover
  { text-decoration:none;
    color:#c60000;
  }
a:active
  { text-decoration:none;
    color:#000000;
  }

a:link    { color: #c60000; text-decoration: underline }
a:visited { color: #c60000; text-decoration: underline }
a:active  { color: #c60000; text-decoration: underline }
a:hover   { color: #000000; text-decoration: underline }

a.navi:link    { color: #000000; text-decoration: none; }
a.navi:visited { color: #000000; text-decoration: none; }
a.navi:active  { color: #000000; text-decoration: none; }
a.navi:hover   { color: #c60000; text-decoration: none; }

h1
  {
    font-family:verdana, helvetica, arial, san-serif;
    font-size:15pt;
    font-weight:bold;
    color: #000000;
  }

h2
  {
    font-family:verdana, helvetica, arial, san-serif;
    font-size:13pt;
    font-weight:bold;
    color: #c60000;
  }

h3
  {
    font-family:verdana, helvetica, arial, san-serif;
    font-size:11pt;
    font-weight:bold;
    color: #c60000;
  }

caption
  {
    font-family:verdana, helvetica, arial, san-serif;
    font-size:11pt;
    font-weight:bold;
    color: #c60000;
  }

th
  {
    font-family:verdana, helvetica, arial, san-serif;
    font-size:10pt;
    font-weight:bold;
  }

td
  {
    font-family:verdana, helvetica, arial, san-serif;
    font-size:10pt;
  }

td.navi
  {
    font-family: verdana, helvetica, arial, san-serif;
    font-size:11px;
    text-align:center;
    color:#000000;
    background-color: #eeeeee;
  }

td.navi_aktiv
  {
    font-family: verdana, helvetica, arial, san-serif;
    font-size:11px;
    text-align:center;
    color:#ffffff;
    background-color: #c60000;
  }

td.fusszeile
  {
    font-family: verdana, helvetica, arial, san-serif;
    font-size:9px;
    text-align:center;
    color:#000000;
  }

td.text_normal
  {
    font-family: verdana, helvetica, arial, san-serif;
    font-size:13px;
    color:#000000;
  }

td.text_fett
  {
    font-family: verdana, helvetica, arial, san-serif;
    font-size:12px;
    font-weight:bold;
    color:#000000;
  }

td.text_klein
  {
    font-family: verdana, helvetica, arial, san-serif;
    font-size:9px;
    color:#000000;
  }

form
  {
    display: inline;
  }

.input
  {
    background-color: #f5f5f5;
    color: #bd3f00;
    font-family: verdana, helvetica, arial, san-serif;
    border: 1px solid #000000;
    font-size: 11px;
    padding: 2px;
  }